# Build results
WeatherApp/[Dd]ebug/
WeatherApp/[Dd]ebugPublic/
WeatherApp/[Rr]elease/
WeatherApp/[Rr]eleases/
WeatherApp/x64/
WeatherApp/x86/
WeatherApp/[Aa][Rr][Mm]/
WeatherApp/[Aa][Rr][Mm]64/
WeatherApp/bld/
WeatherApp/[Bb]in/
WeatherApp/[Oo]bj/

# Visual Studio
WeatherApp/.vs/
WeatherApp/*.user
WeatherApp/*.suo
WeatherApp/*.userosscache
WeatherApp/*.sln.docstates

# Rider
WeatherApp/.idea/

# Visual Studio Code
WeatherApp/.vscode/

# NuGet packages
WeatherApp/*.nupkg
WeatherApp/*.snupkg
WeatherApp/*.nuspec
WeatherApp/.nuget/
WeatherApp/packages/
WeatherApp/project.lock.json
WeatherApp/project.fragment.lock.json

# DotCover
WeatherApp/*.dotCover

# Coverlet coverage files
WeatherApp/coverage*.json
WeatherApp/coverage*.xml
WeatherApp/coverage*.info

# Resharper
WeatherApp/_ReSharper*/
WeatherApp/*.[Rr]e[Ss]harper
WeatherApp/*.DotSettings.user

# Backup files
WeatherApp/*~ 
WeatherApp/*.bak
WeatherApp/*.tmp
WeatherApp/*.swp

# Others
WeatherApp/*.cache
WeatherApp/*.log
WeatherApp/*.vspscc
WeatherApp/*.vssscc

# ASP.NET Scaffolding
WeatherApp/ScaffoldingReadMe.txt

# SQL Server files
WeatherApp/*.mdf
WeatherApp/*.ldf
WeatherApp/*.ndf

# Entity Framework files
WeatherApp/*.edmx.diagram

# Azure Web Apps publish files
WeatherApp/*.Publish.xml

# IIS Express
WeatherApp//.vs/IISExpress/

# Local History for JetBrains IDEs
WeatherApp/.localhistory/

# User secrets
WeatherApp/secrets.json

# Windows image file caches
WeatherApp/Thumbs.db
WeatherApp/ehthumbs.db

# Folder config for macOS
WeatherApp/.DS_Store
