name: Provisioning Infrastructure

on:
  workflow_dispatch:

env:
  AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
  AZURE_OBJECT_ID: ${{ secrets.AZURE_OBJECT_ID }}
jobs:
  infrastructure:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          auth-type: 'service_principal'
        
      - name: Clean terraform cache
        run: rm -rf ./infra/.terraform ./infra/.terraform.lock.hcl

      - name: Terraform init
        run: terraform init -upgrade
        working-directory: ./infra

      - name: Show Terraform version and providers
        run: |
          terraform version
          terraform providers
        working-directory: ./infra

      - name: Terraform providers
        run: terraform providers
        working-directory: ./infra

      - name: Terraform plan
        id: plan
        run: |
          terraform plan -out=plan.tfplan -input=false \
            -var "tenant_id=${{ env.AZURE_TENANT_ID }}" \
            -var "object_id=${{ env.AZURE_OBJECT_ID }}" 
        working-directory: ./infra

      
      - name: Terraform apply
        run: |
          terraform apply -auto-approve -input=false \
            -var "tenant_id=${{ env.AZURE_TENANT_ID }}" \
            -var "object_id=${{ env.AZURE_OBJECT_ID }}" 
            plan.tfplan
        working-directory: ./infra
      