name: Terraform Infrastructure

on:
  workflow_dispatch:

env:
  AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
  AZURE_OBJECT_ID: ${{ secrets.AZURE_OBJECT_ID }}
jobs:
  terraform:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq
        working-directory: ./infra

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          auth-type: 'service_principal'
        
      - name: Clean terraform cache
        run: rm -rf ./infra/.terraform ./infra/.terraform.lock.hcl

      - name: Terraform init
        run: terraform init -upgrade
        working-directory: ./infra

      - name: Show Terraform version and providers
        run: |
          terraform version
          terraform providers
        working-directory: ./infra

      - name: Terraform providers
        run: terraform providers
        working-directory: ./infra

      - name: Terraform plan
        id: plan
        run: |
          terraform plan -out=plan.tfplan -input=false
          terraform show -json -no-color plan.tfplan > plan.json
        working-directory: ./infra

      - name: Check plan.tfplan exists
        run: |
          if [ ! -f plan.tfplan ]; then
            echo "Plan file not found, aborting..."
            exit 1
          fi
        working-directory: ./infra

      - name: Check plan.json validity
        run: |
          cat plan.json
          set +e
          jq empty plan.json
        working-directory: ./infra

      - name: Check if plan has changes
        id: check_plan
        run: |
          if jq -e '.resource_changes' plan.json > /dev/null; then
            CHANGES=$(jq '.resource_changes | length' plan.json)
          else
            CHANGES=0
          fi
          echo "plan_changes_count=$CHANGES" >> $GITHUB_OUTPUT
        working-directory: ./infra

      - name: Terraform apply
        if: steps.check_plan.outputs.plan_changes_count != '0'
        run: terraform apply -auto-approve -input=false plan.tfplan \
          -var "tenant_id=${{ env.AZURE_TENANT_ID }}" \
          -var "object_id=${{ env.AZURE_OBJECT_ID }}"
        working-directory: ./infra
      