name: Terraform Infrastructure

on:
  workflow_dispatch:
    inputs:
      run_infra:
        description: 'Run Terraform Infrastructure deployment?'
        required: true
        default: 'no'
        type: choice
        options:
          - yes
          - no

jobs:
  terraform:
    runs-on: ubuntu-latest
    environment: production
    if: github.event.inputs.run_infra == 'yes'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          auth-type: 'service_principal'
        
      - name: Clean terraform cache
        run: rm -rf ./infra/.terraform ./infra/.terraform.lock.hcl

      - name: Terraform init
        run: terraform init -upgrade
        working-directory: ./infra

      - name: Show Terraform version and providers
        run: |
          terraform version
          terraform providers
        working-directory: ./infra

      - name: Terraform providers
        run: terraform providers
        working-directory: ./infra

      - name: Terraform plan
        run: terraform plan -out=plan.tfplan
        working-directory: ./infra

      - name: Terraform apply
        run: terraform apply -auto-approve plan.tfplan
        working-directory: ./infra

  skip-notify:
      if: github.event.inputs.run_infra == 'no' && github.event_name == 'workflow_dispatch'
      runs-on: ubuntu-latest
      steps:
        - name: Exit cleanly without running terraform
          run: echo "Terraform apply skipped by user input - exiting gracefully."